extends layout

block content
    script(src="/javascripts/client_helpers.js")
    nav.navbar.navbar-expand-lg.navbar-dark.bg-primary
      h1(style="text-align: center") SingaLong
      a.nav-link(href='authorize' style='color:white;position:absolute;top:0;right:0;margin-right:10px;margin-top:10px') Login to Spotify
    div(style="margin-left:10px")
        if (error != null)
            div.alert.alert-danger
                p(style="color:rgb(255,0,0)")= error
        div(style='max-width:610px;float:left')
            div.panel.panel-info(style='width:100%; height:500px')
                div.panel-heading
                    h3.panel-title Playlist to download
                div.panel-body(style='padding-left:10px')
                    textarea.form-control(form='playlist-form' rows="20" cols="50" name='playlist' style="width:420px; float: left;")= textualPlaylist
                    div(style="margin-left:430px;margin-right:10px;width:180px")
                        input.form-control(form='playlist-form' id='sleepTimeInput' type='text' name='sleepTime' value='3000' data-toggle="tooltip" title="Sleep time (ms)" style="width:150px")
                        br
                        form(method='POST' action='songbook' id='playlist-form' target='_blank')
                            button.btn.btn-primary(type='submit' target='_blank' style='width:160px') Create Songbook
                        br
                        form(method='GET' action='/playlist-without-artist')
                            button.btn.btn-primary(type='submit' style='width:160px') Remove Artist
                        br
                        form(method='GET' action='/find-in-database')
                            button.btn.btn-primary(type='submit' style='width:160px') Find in database
                        br
                        form(method='GET' action='/remove')
                            input(type='hidden' name='downloaded' value='true')
                            button.btn.btn-primary(type='submit' style='width:160px') Remove found
                        br
                        form(method='GET' action='/remove')
                            button.btn.btn-primary(type='submit' style='width:160px') Remove not found
                        br
                        button.btn.btn-primary(id='downloadButton' style='width:160px' onclick='downloadPlaylist(' + JSON.stringify(playlist) + ', 0)') Download
                        form(method='GET' action='/songbook-downloaded' target='_blank' )
                            br
                            button.btn.btn-primary(type='submit' style='width:160px' data-toggle="tooltip" title="Create Songbook from downloaded lyrics only" target='_blank' ) Created DB Songbook 


            div.panel.panel-info(style='float:left;width:100%')
                div.panel-heading
                    h3.panel-title Playlist to download
                div.panel-body(style='padding-left:10px')
                    form(method='POST' action='search-playlists' id='search-playlists')
                        input.form-control(form='search-playlists' type='text' name='playlistQuery' placeholder='Search Spotify playlists')
                    br
                    each playlist in playlists
                        a.w3-hover-text-green(href="/playlist?userId=" + playlist.owner.id + "&id=" + playlist.id)= playlist.name
                        br

        div.panel.panel-info(style='margin-left:620px;min-height:800px')
            div.panel-heading
                h3.panel-title Lyrics 
            div.panel-body(style='padding-left:10px')
                br
                if (selectedTrack != null)
                    h2(class='w3-border-bottom w3-border-light-grey w3-padding-16')= selectedTrack.artist + ' - ' + selectedTrack.title
                    a(href='hide-selected-track' style='float:right') ^^ Hide lyrics ^^
                    div(style='width: 100%; overflow: hidden;')
                        textarea(id='lyrics_display' form="submit-lyrics-form" name="lyrics" rows="20" cols="50" style="width:68%; float: left;")= selectedTrack.lyrics
                        div(style="margin-left:70%;width:28%")
                            h5 Download lyrics with:
                            each engine in engines
                                a.w3-hover-text-green(href='/lyrics?artist=' + encodeURIComponent(selectedTrack.artist)  + '&title=' + encodeURIComponent(selectedTrack.title) + '&site=' + engine.name)= engine.name
                                br
                            br
                            br  
                            form(method='POST' action='lyrics' id='submit-lyrics-form')
                                button.btn.btn-primary(type='submit') Store lyrics
                            br
                            button.btn.btn-primary(onclick="$.ajax({url: '/lyrics', type: 'DELETE'});") Delete lyrics
                            form(method='GET' action='http://www.google.com/search' id='search-google' target='_blank')
                                input(type='hidden' name='q' value=selectedTrack.toString() + '+lyrics')
                                br
                                button.btn.btn-primary(type='submit') Search on Google

                form(method='GET' action='/toggle-player')
                    button(src='spotify.png' type='submit' onclick='minimizeSpotifyPlayer()' style='width:25px;height:25px;background: url(spotify.png);background-size: 100%;position:fixed;bottom:0;right:0;border: none')
                - var visibility = showSpotifyPlayer ? 'visible' : 'hidden';
                iframe(id='spotifyPlayer' style="margin-right:25px;margin-bottom:0px;position:fixed;bottom:0;right:0;visibility:" + visibility src="https://open.spotify.com/embed?uri=spotify:user:" + playlistUserId + ":playlist:" + selPlaylistId width="300" height="380" frameborder="0" allowtransparency="true")

                div(style='height:800px;overflow:auto')
                    each track, index in playlist
                        - var style = !searchedDb ? '' : (track.lyrics == null ? 'color:red' : 'color:green');
                        a(id=index href='/lyrics?artist=' + encodeURIComponent(track.artist)  + '&title=' + encodeURIComponent(track.title) style=style)= index+1 + '. ' + track

                        br
