extends layout

block content
    script(src="/javascripts/client_helpers.js")
    script(src="/javascripts/songbook.js")
    div(id='playlist' style='margin-left:3%;width:100%' data-playlist=playlistId data-user-id=userId data-album-id=albumId)
        input(id='main-divider' data-access-token=accessToken data-refresh-token=refreshToken type='hidden')
        each track in book
            div(style='width:50%')
                h2(style='display:inline-block;margin:0;')= track.toString()
                button(src='play.png' onclick='playTrack("' + track.id + '")' style='margin-left:10px;width:25px;height:25px;background: url(play.png);background-size: 100%;border: none;margin-right:5px')
            br
            div(class='lyrics')= track.lyrics
            br

